<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id = 'loginForm'>
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <button type="submit">Login</button>

    </form>
    <p id="result"></p>

    <script>
        document.getElementById("loginForm").addEventListener("submit", async function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = {
                username: formData.get("username"),
                password: formData.get("password")
            };

            const response = await fetch("/login", {
                method: "POST", 
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                document.getElementById("result").textContent = "Authentication successful";
                //await fetch("/calcView");
                window.location.href = '/calcView';
            }
            else {
                document.getElementById("result").textContent = "Authentication failed";
            }
        });
    </script>
</body>
</html>